<a href="https://colab.research.google.com/github/hcimwtc/ENGL437_22Spring/blob/main/20220328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

In [16]:
URL = ('http://apis.data.go.kr/1262000/CountryOverseasArrivalsService/'
      'getCountryOverseasArrivalsList?'
      '&pageNo=1'
      '&numOfRows=10'
      '&returnType=json'
      '&serviceKey=p55lMkuXQ7ey3YZXFYzEBAxBnMMQfolcXcXruLSQQEhtI1bDAcR%2BLSYhJ3i5xqZYcIzTq0FW%2BdiExXyKztLRdQ%3D%3D')

response = requests.get(URL)

In [ ]:
response

In [ ]:
r = response.json()
r

In [ ]:
print(type(r))

In [ ]:
items = r['data']
items

In [84]:
import pandas as pd
country_eng_nm = [item['country_eng_nm'] for item in items]
country_iso_alp2 = [item['country_iso_alp2'] for item in items]
country_nm = [item['country_nm'] for item in items]
notice_id = [item['notice_id'] for item in items]
title = [item['title'] for item in items]
wrt_dt = [item ['wrt_dt'] for item in items]

country_eng_nm = pd.Series(country_eng_nm)
country_iso_alp2 = pd.Series(country_iso_alp2)
country_nm = pd.Series(country_nm)
notice_id = pd.Series(notice_id)
title = pd.Series(title)
wrt_dt = pd.Series(wrt_dt)

df = pd.DataFrame({'ENG': country_eng_nm, 'Code': country_iso_alp2, 'KOR' : country_nm, 'Notice ID' : notice_id, 'Title' : title, 'Last Updated Date' : wrt_dt })

In [85]:
df

,ENG,Code,KOR,Notice ID,Title,Last Updated Date
0,Guinea,GN,기니,ATC0000000008615,각국의 해외입국자에 대한 조치 현황(국가 순서별),2022-03-28
1,Gabon,GA,가봉,ATC0000000008609,각국의 해외입국자에 대한 조치 현황(국가 순서별),2022-03-28
2,Indonesia,ID,인도네시아,ATC0000000008722,각국의 해외입국자에 대한 조치 현황(국가 순서별),2022-03-28
3,Australia,AU,호주,ATC0000000008773,각국의 해외입국자에 대한 조치 현황(국가 순서별),2022-03-28
4,Greece,GR,그리스,ATC0000000008614,각국의 해외입국자에 대한 조치 현황(국가 순서별),2022-03-28
5,Nigeria,NG,나이지리아,ATC0000000008618,각국의 해외입국자에 대한 조치 현황(국가 순서별),2022-03-28
6,Madagascar,MG,마다가스카르,ATC0000000008638,각국의 해외입국자에 대한 조치 현황(국가 순서별),2022-03-28
7,Mauritius,MU,모리셔스,ATC0000000008642,각국의 해외입국자에 대한 조치 현황(국가 순서별),2022-03-28
8,New Zealand,NZ,뉴질랜드,ATC0000000008599,각국의 해외입국자에 대한 조치 현황(국가 순서별),2022-03-28
9,Russia,RU,러시아,ATC0000000008630,각국의 해외입국자에 대한 조치 현황(국가 순서별),2022-03-28

In [86]:
def test(country):
  URL = ('http://apis.data.go.kr/1262000/CountryOverseasArrivalsService/'
      'getCountryOverseasArrivalsList?'
      '&pageNo=1'
      '&numOfRows=10'
      '&returnType=json'
      '&serviceKey=p55lMkuXQ7ey3YZXFYzEBAxBnMMQfolcXcXruLSQQEhtI1bDAcR%2BLSYhJ3i5xqZYcIzTq0FW%2BdiExXyKztLRdQ%3D%3D')

  response = requests.get(URL)
  r = response.json()
  items = r['data']

  country_eng_nm = [item['country_eng_nm'] for item in items]
  country_iso_alp2 = [item['country_iso_alp2'] for item in items]
  country_nm = [item['country_nm'] for item in items]
  notice_id = [item['notice_id'] for item in items]
  title = [item['title'] for item in items]

  wrt_dt = [item ['wrt_dt'] for item in items]

  country_eng_nm = pd.Series(country_eng_nm)
  country_iso_alp2 = pd.Series(country_iso_alp2)
  country_nm = pd.Series(country_nm)
  notice_id = pd.Series(notice_id)
  title = pd.Series(title)
  wrt_dt = pd.Series(wrt_dt)
  
  df = pd.DataFrame({'ENG': country_eng_nm, 'Code': country_iso_alp2, 'KOR' : country_nm,'Notice ID' : notice_id, 'Title' : title, 'Last Updated Date' : wrt_dt })
  return df

In [ ]:
iface = gr.Interface(test, gr.inputs.Dropdown(['CLick to See the Countires List']), outputs=['dataframe'])
iface.launch(debug=True)

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().
Running on public URL: https://29535.gradio.app

This share link expires in 72 hours. For free permanent hosting, check out Spaces (https://huggingface.co/spaces)